# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\A_MY_Project\LeetCode\Test_1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
